@use '@angular/material' as mat;
@mixin todo-dashboard-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  .todo-dashboard-project-card .todo-dashboard-project-card-stat mat-icon {
    color: mat.get-color-from-palette($primary) !important;
  }
  .todo-dashboard-nav-card {
    .card-section {
      text-decoration: none;
      color: map-get($foreground, text);
      border-bottom: 1px solid map-get($foreground, divider);
      padding: 1rem 1.5rem;
      &:hover {
        background-color: map-get($background, hover);
      }
      span {
        font-size: 1.125rem;
      }
      mat-icon {
        color: map-get($foreground, icons);
      }
    }
  }
}

.todo-dashboard-nav-card {
  padding: 0 !important;
  .card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.todo-dashboard-project-card {
  cursor: pointer;
  .todo-dashboard-project-card-stat {
    display: flex;
    align-items: center;

  }

  mat-card-actions {
    margin-top: auto;
  }
}

.todo-dashboard-projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
  h2 {
    margin: 0;
  }
}

.todo-dashboard-project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
}
