.chat-input-container {
  width: 100%;
  position: absolute;
  padding: 10px;
  input {
    background: none;
    border: 0;
    color: currentColor;
    font-family: inherit;
    outline: 0;
  }
}

.chat-viewer-container {
  height: calc(100% - 64px);
  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
}
