<h2 matDialogTitle>Edit chat details</h2>
<mat-dialog-content fxLayout="column">
  <form [formGroup]="editChatForm">
    <mat-form-field class="app-form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="editChatForm.get('name')?.hasError('required')">This is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="app-form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint align="end">{{ editChatForm.get('description')?.value.length }} / 300</mat-hint>
      <mat-error *ngIf="editChatForm.get('description')?.hasError('maxlength')">A maximum of 300 characters are allowed.</mat-error>
    </mat-form-field>
    <mat-form-field class="app-form-field">
        <mat-label>Visibility</mat-label>
        <mat-select formControlName="visibility">
          <mat-select-trigger>{{ editChatForm.get('visibility')?.value | titlecase }}</mat-select-trigger>
          <mat-option value="public">
            <mat-icon aria-hidden="true" aria-label="Public icon">public</mat-icon>
            Public
          </mat-option>
          <mat-option value="private">
            <mat-icon aria-hidden="true" aria-label="Private icon">lock</mat-icon>
            Private
          </mat-option>
          <mat-option value="unlisted">
            <mat-icon aria-hidden="true" aria-label="Unlisted icon">link</mat-icon>
            Unlisted
          </mat-option>
        </mat-select>
        <button mat-icon-button matSuffix (click)="showHelpDialog(helpVisibilityDialog, $event)">
          <mat-icon>help_outline</mat-icon>
        </button>
      </mat-form-field>
      <ng-template #helpVisibilityDialog>
        <h2 matDialogTitle>Help - Chat group visibility</h2>
        <mat-dialog-content fxLayout="column">
          <h3>Public</h3>
          <ul>
            <li>The created chat group is publicly visible to everyone.</li>
            <li>Anyone can join even without the created chat group ID.</li>
            <li>Ideal for public groups and/or communities.</li>
          </ul>
          <h3>Private</h3>
          <ul>
            <li>The created chat group will not be publicly visible to anyone.</li>
            <li>The created chat group will be invitation-only (admins/existing members can send invites).</li>
            <li>Ideal for friend groups.</li>
          </ul>
          <h3>Unlisted</h3>
          <ul>
            <li>The created chat group will not publicly visible to anyone.</li>
            <li>However, anyone with the created chat group's ID can still join.</li>
            <li>Ideal for groups who do not have other people's contact information.</li>
          </ul>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button (click)="closeHelpDialog()" color="primary">Dismiss</button>
        </mat-dialog-actions>
      </ng-template>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose="cancel">Cancel</button>
  <button mat-button color="primary" matDialogClose="ok" [disabled]="editChatForm.invalid">Save</button>
</mat-dialog-actions>
