<main class="mat-typography">
  <div class="padding-percentage-container">
    <section id="about-study-buddy">
      <h2>About Study Buddy</h2>
      <p>Study Buddy was started in 2017 as a personal project.</p>
    </section>
    <section id="who-is-study-buddy-for">
      <h2>Who is Study Buddy for?</h2>
      <p>Study Buddy is primarily for students, although in the future, it may be extended to parents and teachers to faciliate the students.</p>
    </section>
    <section id="is-this-open-source">
      <h2>Is this app open source?</h2>
      <p>Yes, it is! The source code for the Android app is available at <a class="anchor-link" href="https://github.com/Chan4077/StudyBuddy">Chan4077/StudyBuddy</a>, while the source code for the web version is at <a href="https://github.com/Chan4077/StudyBuddy-web" class="anchor-link">Chan4077/StudyBuddy-web</a>. You should be able to find instructions to build the source code in the associated GitHub repositories.</p>
    </section>
    <section id="i-would-like-to-contribute-how-to-contribute">
      <h2>I would like to contribute to this project! How do I do so?</h2>
      <p>Thanks. I appreciate changes made by others. I accept PRs (pull requests) for those who actually use Github for open-source projects.</p>
    </section>
  </div>
</main>
