<div class="padding-container">
  <app-support-search (keywordsChange)="testChange($event)"></app-support-search>
  <section id="about-study-buddy">
    <h1>About Study Buddy</h1>
    <p>Study Buddy originally started in 2017 by me as a project which was recommended by someone who I will not expose the person's identity.</p>
  </section>
  <section id="who-is-study-buddy-for">
    <h1>Who is Study Buddy for?</h1>
    <p>Study Buddy is primarily for students as there are some extremely useful things in the app such as today's word of the day, todo lists and last but not least, an upcoming Google Classroom integration (assuming I can find documentation).</p>
  </section>
  <section id="whats-the-current-status-of-study-buddy">
    <h1>What's the current status of Study Buddy?</h1>
    <p>Currently, Study Buddy is still a work in progress and new features will be (eventually) released to the public. However, it's been at least probably less than half a year since the website has been updated to support the new database.</p>
  </section>
  <section id="where-and-how-to-build-source-code">
    <h1>I'm a developer. Can I build the source code? Where is it?</h1>
    <p>Hi developer! Firstly, the source code is available at <a class="anchor-link" href="https://github.com/Chan4077/StudyBuddy">Chan4077/StudyBuddy</a>, while the source code for the web version is at <a href="https://github.com/Chan4077/StudyBuddy-web" class="anchor-link">Chan4077/StudyBuddy-web</a></p>
  </section>
  <section id="i-would-like-to-contribute-how-to-contribute">
    <h1>I would like to contribute to this project! How do I do so?</h1>
    <p>Thanks. I appreciate changes made by others. I accept PRs (pull requests) for those who actually use Github for open-source projects.</p>
  </section>
  <section id="credits-licenses">
    <h1>Credits + Licenses</h1>
    <h2>Credits</h2>
    <p>I would like to thank the following open-source projects for all their work that they have contributed to the community and benefitted developers all around the world. Your work really means something to us developers.</p>
    <p>(P.s. I'm not sure if the headers will display as very small.)</p>
    <section id="angular">
      <h3>Angular</h3>
      <pre><code></code></pre>
    </section>
  </section>
</div>