.login-container {
  height: 100%;
  .login-logo-container {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    .login-logo {
      width: 64px;
    }
  }
  mat-card-title {
    margin: 16px 0 32px;
    display: flex;
    justify-content: center;
  }
}
