<h2 matDialogTitle *ngIf="dialogTitle">{{ dialogTitle }}</h2>
<mat-dialog-content>
  <mat-selection-list #selection [color]="selectionListColor">
    <mat-list-option *ngFor="let entry of entries"
      [value]="entry.value"
      [disabled]="entry.disabled"
      [color]="entry.color || null"
      [selected]="entry.selected">
      {{ entry.title }}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose [color]="negativeBtnColor">{{ negativeBtnText }}</button>
  <button mat-button (click)="close()" [color]="positiveBtnColor">{{ positiveBtnText }}</button>
</mat-dialog-actions>
