.reset-pwd-container {
  height: 100%;

  .reset-pwd-card {
    width: 300px;
    .reset-pwd-logo-container {
      margin: 32px 0;
      display: flex;
      justify-content: center;
      .reset-pwd-logo {
        width: 64px;
      }
    }

    h2 {
      margin: 16px 0 32px;
      display: flex;
      justify-content: center;
    }

    .reset-pwd-card-content {
      .strike {
        margin: 8px 0;
      }

      .reset-pwd-card-form {
        margin-bottom: 16px;
      }
    }
  }
}

