<main class="reset-pwd-container mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <mat-card appearance="outlined" class="reset-pwd-card mat-elevation-z2">
    <mat-card-content>
      <div class="reset-pwd-logo-container">
        <img
          class="reset-pwd-logo"
          srcset="assets/icons/icon-48x48.png 48w,
                  assets/icons/icon-72x72.png 72w,
                  assets/icons/icon-96x96.png 96w,
                  assets/icons/icon-148x148.png 148w,
                  assets/icons/icon-192x192.png 192w,
                  assets/icons/icon-512x512.png 512w"
          src="assets/icons/icon-512x512.png"
          alt="StudyBuddy logo">
      </div>
      <h2>Reset Password</h2>
      <div class="reset-pwd-card-content" fxLayout="column">
        <form class="reset-pwd-card-form" [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()" fxLayout="column">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" autocomplete="email" formControlName="email">
            <mat-error *ngIf="resetPwdForm.get('email')?.hasError('required')">This is required.</mat-error>
            <mat-error *ngIf="resetPwdForm.get('email')?.hasError('email')">Please enter a valid email.</mat-error>
          </mat-form-field>
          <div class="reset-pwd-card-form-actions" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="resetPwdForm.invalid">Reset password</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <footer class="reset-pwd-additional-actions">
    <p><a class="anchor-link" routerLink="/auth/login"><mat-icon inline>arrow_back</mat-icon>Back to login</a></p>
  </footer>
</main>
