<h2 matDialogTitle>{{isNewTodo ? 'New' : 'Edit'}} Todo</h2>
<div mat-dialog-content>
  <form [formGroup]="todoForm">
    <mat-form-field class="app-form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error>This is required</mat-error>
      <mat-hint>The subject of your todo.</mat-hint>
    </mat-form-field>

    <mat-form-field class="app-form-field">
      <mat-label>Content</mat-label>
      <textarea formControlName="content" cols="3" matInput matTextareaAutosize></textarea>
      <button mat-icon-button matSuffix matTooltip="Learn more about Markdown" (click)="showHelp('content')">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-hint>The content of your todo. Markdown is supported.</mat-hint>
    </mat-form-field>
    <ng-template #helpContentDialog>
      <h2 matDialogTitle>Markdown Supported Features</h2>
      <div matDialogContent fxLayout="column">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Text">
            <div class="tab-content">
              <h3>Code</h3>
              <pre><code>{{mkdnText}}</code></pre>
              <h3>Result</h3>
              <div [innerHTML]="mkdnText | markdown"></div>
            </div>
          </mat-tab>
          <mat-tab label="Lists">
            <div class="tab-content">
              <h3>Code</h3>
              <pre><code>{{mkdnLists}}</code></pre>
              <h3>Result</h3>
              <div [innerHTML]="mkdnLists | markdown"></div>
            </div>
          </mat-tab>
          <mat-tab label="Images">
            <div class="tab-content">
              <h3>Code</h3>
              <pre><code>{{mkdnImg}}</code></pre>
              <h3>Result</h3>
              <div [innerHTML]="mkdnImg | markdown"></div>
            </div>
          </mat-tab>
          <mat-tab label="Headers">
            <div class="tab-content">
              <h3>Code</h3>
              <pre><code>{{mkdnHeaders}}</code></pre>
              <h3>Result</h3>
              <div [innerHTML]="mkdnHeaders | markdown"></div>
            </div>
          </mat-tab>
          <mat-tab label="Code">
            <div class="tab-content">
              <h3>Code</h3>
              <pre><code>{{mkdnCode}}</code></pre>
              <h3>Result</h3>
              <div [innerHTML]="mkdnCode | markdown"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div matDialogActions align="end">
        <button mat-button (click)="closeHelpDialog()" color="primary">Dismiss</button>
      </div>
    </ng-template>
    <mat-form-field class="app-form-field">
      <mat-label>Project</mat-label>
      <mat-select formControlName="project">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
          {{project?.name}}
        </mat-option>
        <mat-option (click)="createProject()">
          <mat-icon>add</mat-icon>
          Create project&#8230;
        </mat-option>
      </mat-select>
      <mat-hint>The project to assign this todo to</mat-hint>
    </mat-form-field>
    <!--<mat-form-field class="app-form-field">
      <input matInput placeholder="Project" formControlName="project">
      <mat-hint>The workspace where the todo will be saved in. (optional)</mat-hint>
    </mat-form-field>-->

    <mat-form-field class="app-form-field">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="dueDatePicker" [min]="minDueDate" formControlName="dueDate">
      <mat-datepicker #dueDatePicker [touchUi]="shared.isMobile"></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker">
        <mat-icon matDatepickerToggleIcon>today</mat-icon>
      </mat-datepicker-toggle>
      <mat-hint>The date that this todo is due at.</mat-hint>
      <mat-error *ngIf="todoForm.get('dueDate')?.hasError('matDatepickerMin')">Due dates before today are not accepted.
      </mat-error>
    </mat-form-field>
    <!--<mat-checkbox [(ngModel)]="enableTags" [ngModelOptions]="{'standalone': true}">Enable tags?</mat-checkbox>
    
    <mat-form-field class="app-form-field" *ngIf="enableTags">
      <mat-icon matPrefix>local_offer</mat-icon>
      <mat-chip-list #tagsList>
        <mat-chip *ngFor="let tag of todoItem.tags" removable (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Tag..." [matChipInputFor]="tagsList" matChipInputAddOnBlur (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-list>
      <button mat-icon-button (click)="todoItem.tags = []" matSuffix matTooltip="Clear tags">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>-->
    <mat-checkbox formControlName="isDone">Mark as done</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="showDebug" [ngModelOptions]="{'standalone': true}">Show debug options</mat-checkbox>
    <div [style.display]="showDebug ? 'block' : 'none'" fxLayout="column">
      <div fxLayout="row">
        <mat-form-field class="app-form-field" fxFlex="70%">
          <mat-label>Document ID</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>
        <button mat-button (click)="regenerateId()" fxFlex="30%">Regenerate ID</button>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" color="primary">Cancel</button>
  <button mat-button (click)="resetForm()" color="warn" *ngIf="isNewTodo">Reset</button>
  <button mat-button (click)="saveOrAddTodo()" color="primary" [disabled]="todoForm.invalid">{{isNewTodo ? 'Add' :
    'Save'}}</button>
</div>
