<ng-container *ngIf="shared.isOnline; else: nointernet">
  <div class="padding-percentage-container">
    <!-- <div fxLayout="row" class="chat-explore--filter-container">
      <form #filterForm="ngForm">
        <mat-form-field>
          <mat-select formControlName=""
        </mat-form-field>
      </form>
    </div> -->
    <!-- TODO: Readd search input -->
    <!-- <app-search-input></app-search-input> -->
    <h2>New public chat groups (from the past month)</h2>
    <div gdColumns="1fr 1fr 1fr" class="chat-explore--grid"
      *ngIf="(recentChats$ | async)?.length > 0; else: noItems">
      <mat-card *ngFor="let chat of recentChats$ | async">
        <mat-card-title>
          {{ chat?.name }}
          <mat-icon *ngIf="chat?.isVerified" class="chat--verified-icon" inline aria-label="Verified chat group" matTooltip="Verified">verified</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p *ngIf="chat?.description">{{ chat.description }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-button [routerLink]="['/chats', chat?.id]" color="primary">View</a>
          <!-- <button mat-button color="primary" (click)="joinChat(chat)" *ngIf="!hasJoinedChat(chat)">Join</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <h2>All public chat groups</h2>
    <div gdColumns="1fr 1fr 1fr" class="chat-explore--grid"
      *ngIf="(publicChats$ | async)?.length > 0; else: noItems">
      <mat-card *ngFor="let chat of publicChats$ | async">
        <mat-card-title>
          {{ chat?.name }}
          <mat-icon *ngIf="chat?.isVerified" class="chat--verified-icon" color="accent" inline aria-label="Verified chat group" matTooltip="Verified">verified</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p *ngIf="chat?.description">{{ chat.description }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-button [routerLink]="['/chats', chat?.id]" color="primary">View</a>
          <!-- <button mat-button color="primary" (click)="joinChat(chat)" *ngIf="!hasJoinedChat(chat)">Join</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #noItems>
  <app-empty-state
    emptyStateTitle="No chat groups match this filter!"
    emptyStateMsg="Check again later."></app-empty-state>
</ng-template>
<ng-template #nointernet>
  <div class="center-container">
    <div class="center-container-div">
      <h2>No internet</h2>
      <p>An internet connection is required to view public chat groups.</p>
    </div>
  </div>
</ng-template>
