<ng-container *ngIf="shared.isOnline; else: nointernet">
  <div class="padding-percentage-container">
    <!-- TODO: Readd search input -->
    <!-- <app-search-input></app-search-input> -->
    <div fxLayout="row">
      <h2>All public chat groups</h2>
    </div>
    <div gdColumns="1fr 1fr 1fr">
      <mat-card *ngFor="let chat of publicChats$ | async">
        <mat-card-title>{{ chat?.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ chat?.description }}</p>
          <p><mat-icon inline>account_circle</mat-icon> Owner: {{ (getOwnerName(chat?.owner) | async)?.displayName }}</p>
          <p><mat-icon inline></mat-icon></p>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-button *ngIf="hasJoinedChat(chat)" [routerLink]="['/chats', chat?.id]" color="primary">Enter</a>
          <button mat-button color="primary" (click)="joinChat(chat)" *ngIf="!hasJoinedChat(chat)">Join</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #nointernet>
  <div class="center-container">
    <div class="center-container-div">
      <h2>No internet</h2>
      <p>An internet connection is required to view public chat groups.</p>
    </div>
  </div>
</ng-template>
