<div class="padding-percentage-container">
  <h1>Quizzes</h1>
  <section id="created-quizzes">
    <div class="header">
      <h2>Your created quizzes</h2>
      <span fxFlex></span>
      <a mat-raised-button color="primary" routerLink="create">
        <mat-icon>add</mat-icon>
        Create quiz
      </a>
    </div>
  
    <ng-container
      *ngIf="(ownedQuizzes$ | async)?.length > 0 && (ownedQuizzes$ | async) as ownedQuizzes; else: createdQuizzesEmptyState">
      <p>Hello, world!</p>
      <p>Current quizzes:</p>
      <pre>
        <code>{{ ownedQuizzes | json }}</code>
      </pre>
    </ng-container>
    <ng-template #createdQuizzesEmptyState>
      <!-- <div fxLayout="column" fxLayoutAlign="center center">
        <h3>You currently haven't created any quizzes!</h3>
        <a mat-raised-button routerLink="create">Create quiz</a>
      </div> -->
      <app-empty-state emptyStateTitle="You currently haven't created any quizzes!" [showCtaBtn]="true" ctaBtnText="Create quiz" ctaBtnRouterLink="create"></app-empty-state>
    </ng-template>
  </section>
  
  <!--<section id="completed-quizzes">
    <div class="header">
      <h2>Completed quizzes</h2>
    </div>
    <ng-container
      *ngIf="(completedQuizzes$ | async)?.length > 0 && (completedQuizzes$ | async) as completedQuizzes; else: completedQuizzesEmptyState">
      <p>Hello, world!</p>
      <p>Current quizzes:</p>
      <pre>
        <code>{{ completedQuizzes | json }}</code>
      </pre>
    </ng-container>
    <ng-template #completedQuizzesEmptyState>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3>You currently haven't completed any quizzes!</h3>
        <button mat-raised-button>Create quiz</button>
      </div>
    </ng-template>
  </section>-->

</div>
