<h2 matDialogTitle>{{ isEditing ? 'Edit' : 'New' }} project</h2>
<mat-dialog-content fxLayout="column">
  <form [formGroup]="newProjectForm" fxLayout="column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="newProjectForm.get('name')?.hasError('required')">A name is required.</mat-error>
      <mat-error *ngIf="newProjectForm.get('name')?.hasError('minlength')">A minimum of 3 characters is required.</mat-error>
      <mat-error *ngIf="newProjectForm.get('name')?.hasError('maxlength')">A maximum of 100 characters is allowed.</mat-error>
      <mat-hint align="end">{{newProjectForm.get('name').value.length}} / 100</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput formControlName="color">
      <mat-error *ngIf="newProjectForm.get('color')?.hasError('required')">A color is required</mat-error>
      <mat-error *ngIf="newProjectForm.get('color')?.hasError('pattern')">The color is to be in the form #RRGGBB.</mat-error>
      <button mat-icon-button matSuffix (click)="showHelpDialog(helpColorDialog)" aria-label="Get help" matTooltip="Get help"
        type="button">
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Due date</mat-label>
      <input matInput formControlName="dueDate" [matDatepicker]="dueDatePicker">
      <mat-datepicker #dueDatePicker [touchUi]="shared.isMobile"></mat-datepicker>
      <mat-datepicker-toggle [for]="dueDatePicker" matSuffix>
        <mat-icon matDatepickerToggleIcon>today</mat-icon>
      </mat-datepicker-toggle>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Icon</mat-label>
      <mat-select formControlName="icon">
        <mat-option>None</mat-option>
        <mat-option value="home">
          <mat-icon aria-hidden aria-label="Home icon">home</mat-icon>
        </mat-option>
        <mat-select-trigger>
          <mat-icon *ngIf="newProjectForm.get('icon')?.value" inline>{{newProjectForm.get('icon')?.value}}</mat-icon>
          <span class="icon-additional-selection-trigger">{{ newProjectForm.get('icon')?.value | titlecase }} icon</span>
        </mat-select-trigger>
      </mat-select>
    </mat-form-field>
    <ng-template #helpColorDialog>
      <h2 matDialogTitle>Help</h2>
      <mat-dialog-content fxLayout="column">
        <p>Accepted color values: #RRGGBB</p>
        <p>Where they denote the following:</p>
        <ul>
          <li>
            <strong>RR</strong> denotes the red value of the color. Accepted values: 00 to FF.</li>
          <li>
            <strong>GG</strong> denotes the green value of the color. Accepted values: 00 to FF.</li>
          <li>
            <strong>BB</strong> denotes the blue value of the color. Accepted values: 00 to FF.</li>
        </ul>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button (click)="closeHelpDialog()" color="primary">Dismiss</button>
      </mat-dialog-actions>
    </ng-template>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose color="primary">Cancel</button>
  <button mat-button matDialogClose (click)="onClose()" color="primary" [disabled]="newProjectForm.invalid">{{
    isEditing ? 'Done' : 'Create' }}</button>
</mat-dialog-actions>
