.register-container {
  height: 100%;

  .register-card {
    width: 300px;
    .register-logo-container {
      margin: 32px 0;
      display: flex;
      justify-content: center;
      .register-logo {
        width: 64px;
      }
    }

    h2 {
      margin: 16px 0 32px;
      display: flex;
      justify-content: center;
    }

    .register-card-content {
      .strike {
        margin: 8px 0;
      }

      .register-card-form {
        margin-bottom: 16px;
      }
    }
  }
}

