@use '~@angular/material' as mat;

@mixin tips-theme($theme) {
  $primary: map-get($theme, primary);
  .quote-of-day-card--avatar {
    background-color: mat.get-color-from-palette($primary, 100);
    color: mat.get-contrast-color-from-palette($primary, 100);
  }
}

.quote-of-day-card--avatar {
  text-align: center;
  line-height: 40px;
}
