<div>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Word of the Day</mat-card-title>
			<span fxFlex></span>
			<button mat-icon-button (click)="getWordOfDay()" matTooltip="Refresh" color="primary">
				<mat-icon>refresh</mat-icon>
			</button>
		</mat-card-header>
		<mat-card-title>{{wordOfDay?.word}}</mat-card-title>
		<mat-card-content>
			<p>Definitions:</p>
			<ol>
				<li *ngFor="let def of wordOfDay?.definitions">
					<p>{{def?.text}}</p>
					<p *ngIf="def.note">Note: {{def?.note}}</p>
					<span>({{def?.partOfSpeech}})</span>
				</li>
			</ol>
			<p>Examples:</p>
			<ol>
				<li *ngFor="let example of wordOfDay?.examples">
					<strong>{{example?.title}}:</strong>
					<em>{{example?.text}}</em>
				</li>
			</ol>
		</mat-card-content>
		<mat-card-footer *ngIf="wordOfDay == undefined">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>
	<div *ngFor="let quote of quoteOfDay?.contents?.quotes">
		<mat-card>
			<mat-card-header>
				<mat-card-title>{{quote?.title}}</mat-card-title>
				<span fxFlex></span>
				<button mat-icon-button (click)="getQuoteOfDay()" matTooltip="Refresh" color="primary">
					<mat-icon>refresh</mat-icon>
				</button>
			</mat-card-header>
			<mat-card-title style="line-height: 32px">{{quote?.quote}}</mat-card-title>
			<mat-card-content>
				<p>Tags:</p>
				<mat-chip-list>
					<mat-chip *ngFor="let tag of quote?.tags">{{tag}}</mat-chip>
				</mat-chip-list>
			</mat-card-content>
			<mat-card-footer *ngIf="quoteOfDay == undefined">
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</mat-card-footer>
		</mat-card>
	</div>
</div>