<h2 matDialogTitle>User info</h2>
<mat-dialog-content>
  <ng-template #notSignedIn>
    <p>No user is logged in.</p>
  </ng-template>
  <ng-container *ngIf="user$ | async as user; else: notSignedIn">
    <table class="app-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr>
        <td>Display name</td>
        <td>{{ user?.displayName || '&lt;No display name set&gt;' }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user?.email || '&lt;No email set&gt;' }}</td>
      </tr>
      <tr>
        <td>Has verified email?</td>
        <td>{{ user?.emailVerified ? 'Yes' : 'No' }}</td>
      </tr>
      <tr>
        <td>Is anonymous?</td>
        <td>{{ user?.isAnonymous ? 'Yes' : 'No' }}</td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td>{{ user?.phoneNumber || '&lt;No phone number set&gt;' }}</td>
      </tr>
      <tr>
        <td>Photo URL</td>
        <td>{{ user?.photoURL || '&lt;No photo URL set&gt;' }}</td>
      </tr>
      <tr>
        <td>UID (User ID)</td>
        <td>{{ user?.uid }}</td>
      </tr>
      <tr>
        <td>Last login</td>
        <td>{{ user?.metadata?.lastSignInTime | date:'long' }}</td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>{{ user?.metadata?.creationTime | date:'long' }}</td>
      </tr>
    </table>
    <mat-checkbox [(ngModel)]="showJson">Show JSON?</mat-checkbox>
    <pre *ngIf="showJson"><code>{{ user?.toJSON() | json }}</code></pre>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose>Dismiss</button>
</mat-dialog-actions>
