.login-container {
  height: 100%;
}

.login-card {
  .login-logo-container {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    .login-logo {
      width: 64px;
    }
  }

  h2 {
    margin: 16px 0 32px;
    display: flex;
    justify-content: center;
  }

  .login-card-content {
    .login-card-form {
      margin-bottom: 16px;
    }

    & > a {
      align-self: center;
    }
  }

}
