.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-card {
    width: 33.3333333%;
    min-width: 300px;
    max-width: 800px;

    .login-logo-container {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      .login-logo {
        width: 4rem;
      }
    }

    h2 {
      margin: 1rem 0 2rem;
      display: flex;
      justify-content: center;
    }

    .login-card-content {
      display: flex;
      flex-direction: column;

      .strike {
        margin: 0.5rem 0;
      }

      .login-card-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .login-card-form-actions {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }

      & > a {
        align-self: center;
      }
    }
  }
}

