<div class="padding-percentage-container">
  <div class="header dashboard-todos-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 fxLayout="row" fxLayoutAlign="center center">
      Todos
    </h2>
    <button mat-raised-button (click)="newTodo()" color="primary">
      <mat-icon>add</mat-icon> New Todo
    </button>
  </div>
  <ng-container
    *ngIf="(todos$ | async)?.length > 0; else: todosEmptyState">
    <mat-card *ngFor="let todo of todos$ | async">
      <mat-card-title>{{todo?.title}}</mat-card-title>
      <mat-card-content *ngIf="todo?.content">
        <p [innerHTML]="todo?.content | markdown"></p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="toggleChecked(todo)">
          <span *ngIf="!todo.isDone">Mark as done</span>
          <span *ngIf="todo.isDone">Mark as undone</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #todosEmptyState>
    <app-empty-state emptyStateTitle="All todos done!" emptyStateMsg="Great job!"  emptyStateImageSrc="assets/undraw/undraw_High_five_u364.svg" emptyStateImageClass="empty-state-image"></app-empty-state>
  </ng-template>
</div>
