<main class="padding-container mat-typography">
  <p>Welcome to the test page! This page is used to test the shared service.</p>
  <fieldset>
    <legend>Utility methods</legend>
    <p><code>SharedService.isDarkThemeEnabled</code>: {{ shared.isDarkThemeEnabled }}</p>
    <p><code>SharedService.isMobile</code>: {{ shared.isMobile }}</p>
    <p><code>SharedService.isPortraitHandset</code>: {{ shared.isPortraitHandset }}</p>
    <p><code>SharedService.isOnline</code>: {{ shared.isOnline }}</p>
    <p><code>SharedService.title</code>: {{ shared.title }}</p>
    <p><code>SharedService.settings</code>:</p>
    <pre><code>{{ shared.settings | json }}</code></pre>
  </fieldset>
  <mat-divider></mat-divider>
  <fieldset fxLayout="column">
    <legend>Snackbar properties</legend>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput [(ngModel)]="snackbar.snackBarMsg" rows="3"
        matTextareaAutosize></textarea>
      <button mat-icon-button matSuffix (click)="generateLoremIpsum()" matTooltip="Generate lorem ipsum">
        <mat-icon>cached</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput type="number" [(ngModel)]="snackbar.duration">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Action</mat-label>
      <input matInput [(ngModel)]="snackbar.action">
    </mat-form-field>
    <h3>Vertical Position:</h3>
    <mat-radio-group [(ngModel)]="snackbar.verticalPosition" fxLayout="column">
      <mat-radio-button *ngFor="let opt of verticalPos" [value]="opt">{{opt}}</mat-radio-button>
    </mat-radio-group>
    <h3>Horizontal Position:</h3>
    <mat-radio-group [(ngModel)]="snackbar.horizontalPosition" fxLayout="column">
      <mat-radio-button *ngFor="let opt of horizontalPos" [value]="opt">{{opt}}</mat-radio-button>
    </mat-radio-group>
    <h3>Extra classes</h3>
    <mat-form-field>
      <mat-label>Extra class(es)</mat-label>
      <mat-select [(ngModel)]="snackbar.panelClass" multiple>
        <mat-option value="red">
          <code>red</code>
        </mat-option>
        <mat-option value="party">
          <code>party</code>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button (click)="closeSnackBar()" color="warn">Close all snackbars</button>
      <button mat-button (click)="openSnackBar()" color="primary">Normal Snackbar</button>
      <button mat-button (click)="openErrorSnackBar()" color="primary">Error Snackbar</button>
      <button mat-button (click)="openDurationSnackBar()" color="primary">Duration Snackbar</button>
      <button mat-button (click)="openSnackBarWithResult()" color="primary">Snackbar with result</button>
    </div>
  </fieldset>

</main>
