<p class="mat-body">
	Welcome to the test page! This page is used to test the shared functions.</p>
<button mat-button (click)="alertDialog()">Alert Dialog</button>
<button mat-button (click)="confirmDialog()">Confirm Dialog</button>
<button mat-button (click)="promptDialog()">Prompt Dialog</button>
<button mat-button (click)="selectionDialog()">Selection Dialog</button>
<div id="result"></div>
<mat-divider></mat-divider>
<fieldset fxLayout="column">
	<legend>Snackbar properties</legend>
	<mat-form-field>
		<input matInput type="number" [(ngModel)]="snackBarProps.duration" placeholder="Duration of snackbar">
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="snackBarProps.action" placeholder="Action of snackbar">
	</mat-form-field>
	<h3>Vertical Position:</h3>
	<mat-radio-group [(ngModel)]="snackBarProps.verticalPos" fxLayout="column">
		<mat-radio-button *ngFor="let opt of verticalPos" [value]="opt">{{opt}}</mat-radio-button>
	</mat-radio-group>
	<h3>Horizontal Position:</h3>
	<mat-radio-group [(ngModel)]="snackBarProps.horizontalPos" fxLayout="column">
		<mat-radio-button *ngFor="let opt of horizontalPos" [value]="opt">{{opt}}</mat-radio-button>
	</mat-radio-group>
	<h3>Extra classes</h3>
	<mat-form-field>
		<mat-select [(ngModel)]="snackBarProps.panelClass">
			<mat-option value="red">
				<code>red</code>
			</mat-option>
			<mat-option value="party">
				<code>party</code>
			</mat-option>
		</mat-select>
	</mat-form-field>
</fieldset>
<br>
<button mat-button (click)="closeSnackBar()">Close all snackbars</button>
<button mat-button (click)="snackBar()">Normal Snackbar</button>
<button mat-button (click)="durationSnackBar()">Duration Snackbar</button>
<button mat-button (click)="snackBarWithResult()">Snackbar with result</button>