/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './app/todo/todo-dashboard/todo-dashboard.component';
@mixin tables-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);
    $tableBorderOpacity: if($is-dark-theme, 0.08, 0.03);
    table.app-table {
        color: mat-color($foreground, text);
        th {
            background: mat-color($background, app-bar);
        }
        td {
            border: 1px solid rgba(mat-color($foreground, secondary-text), $tableBorderOpacity);
        }
    }
}

@mixin studybuddy-theme($theme) {
    @include tables-theme($theme);
    @include todo-dashboard-theme($theme);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);
    .strike>span {
        &::before,
        &::after {
            background-color: map-get($foreground, divider);
        }
        color: map-get($foreground, text);
    }
    .active-link {
        // Since it's a bit hard to actually see the text in the dark theme, it'll use the accent color if it's dark and primary if it's not. Same applies for mat-icon
        color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
        mat-icon {
            color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
        } // Note: These colors are based on the Android sidenav selection state
        background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
    }
    .currently-selected {
        background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
    }
    .mat-primary-text-color {
        color: mat-color($primary) !important;
    }
    .mat-primary-bg-color {
        background-color: mat-color($primary) !important;
    }
    .mat-accent-text-color {
        color: mat-color($accent) !important;
    }
    .mat-accent-bg-color {
        background-color: mat-color($accent) !important;
    }
    .mat-warn-text-color {
        color: mat-color($warn) !important;
    }
    .mat-warn-bg-color {
        background-color: mat-color($warn) !important;
    }
    a.anchor-link {
        color: mat-color($primary);
        &:active {
            color: mat-color($accent);
        }
    }
    .mat-list-item-content mat-icon,
    .mat-icon-foreground {
        color: map-get($foreground, icons);
    }
    /*
	Code adapted from:
	https://github.com/Teradata/covalent/blob/ce05fb682260262b4c4b7ff86f0e896ab3ed0192/src/platform/core/message/_message-theme.scss#L26-L40
	https://github.com/Teradata/covalent/blob/develop/src/platform/core/message/message.component.scss
	*/
    .msg-container {
        padding: 8px 16px;
        min-height: 52px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        max-width: 100%;
        justify-content: start;
        *:not(.mat-icon) {
            margin: 0;
        }
        .msg-icon {
            margin-right: 16px;
            ::ng-deep [dir='rtl'] & {
                margin-left: 16px;
                margin-right: 0;
            }
        }
        .msg-label {
            font-weight: 500;
        }
        &.mat-primary {
            color: mat-color($primary);
            background-color: mat-color($primary, 0.15);
        }
        &.mat-accent {
            color: mat-color($accent);
            background-color: mat-color($accent, 0.15);
        }
        &.mat-warn {
            color: mat-color($warn);
            background-color: mat-color($warn, 0.15);
        }
        &.msg-danger {
            color: #ef6c00;
            background-color: rgba(239, 108, 0, 0.15);
        }
        &.msg-info {
            color: #0288d1;
            background-color: rgba(2, 136, 209, 0.15);
        }
    }
    .notifications-badge,
    .badge {
        color: white;
        background: mat-color($primary);
    }
}

// @import 'assets/icons/material-icons.css';
@include mat-core();
$studybuddy-light-theme-primary: mat-palette($mat-indigo);
$studybuddy-light-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$studybuddy-light-theme-theme: mat-light-theme($studybuddy-light-theme-primary, $studybuddy-light-theme-accent);
@include angular-material-theme($studybuddy-light-theme-theme);
@include studybuddy-theme($studybuddy-light-theme-theme);
.studybuddy-dark {
    $studybuddy-dark-theme-primary: mat-palette($mat-purple);
    $studybuddy-dark-theme-accent: mat-palette($mat-green, A200, A100, A400);
    $studybuddy-dark-theme-theme: mat-dark-theme($studybuddy-dark-theme-primary, $studybuddy-dark-theme-accent);
    @include angular-material-theme($studybuddy-dark-theme-theme);
    @include studybuddy-theme($studybuddy-dark-theme-theme);
}

body {
    overflow: hidden;
}

// Styles for table
table.app-table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    th {
        font-weight: 400;
        max-width: 100px;
        padding: 13px 32px;
        text-align: left
    }
    td {
        font-weight: 400;
        padding: 8px 16px
    }
}

.notifications-badge,
.badge {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.2 ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    font-weight: 600;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding mat-dialog-container {
    padding: 0;
}

.padding-container {
    padding: 6px;
}

.padding-percentage-container {
    padding: 5%;
}

// Material icons
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.app-sidenav {
    width: 256px;
}

.app-notify-sidenav {
    width: 412px;
}

.app-android-download-btn,
.app-src-code-btn {
    height: 50px;
    width: 250px;
}

.app-android-download-btn {
    color: #A4C639 !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.app-src-code-btn {
    color: #E4E432 !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button,
.mat-simple-snackbar-action {
    text-transform: uppercase;
}

.app-downloads {
    padding: 40px;
}

.app-form-field {
    width: 100%;
}

.app-content {
    padding: 4px;
}

// Excerpt from snackbar demo on material2's demoapp
.party {
    animation: party 5000ms infinite;
}

@keyframes party {
    0% {
        background-color: #00f;
    }
    10% {
        background-color: #8e44ad;
    }
    20% {
        background-color: #1abc9c;
    }
    30% {
        background-color: #d35400;
    }
    40% {
        background-color: #00f;
    }
    50% {
        background-color: #34495e;
    }
    60% {
        background-color: #00f;
    }
    70% {
        background-color: #2980b9;
    }
    80% {
        background-color: #f1c40f;
    }
    90% {
        background-color: #2980b9;
    }
    100% {
        background-color: #0ff;
    }
}

.red {
    background-color: red;
}

.selection-dialog>mat-dialog-container>selection-dialog>mat-dialog-content {
    padding: 0;
}

// TODO: Change styles of scrollbar
app-root::-webkit-scrollbar,
mat-sidenav.sidenav::-webkit-scrollbar,
.mat-sidenav-content::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

app-root::-webkit-scrollbar-track,
mat-sidenav.sidenav::-webkit-scrollbar-trac,
.mat-sidenav-content::-webkit-scrollbar-trac {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.app-content::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

.tab-content {
	padding: 16px;
}

// This is to align with the Material spec
mat-card {
    margin: 8px;
}

.new-todo-fab {
    position: fixed !important;
    right: 32px;
    bottom: 32px;
    margin-bottom: 0 !important;
}

// Fake toolbar
.fake-toolbar.shown {
    height: 64px;
}

@media (max-width: 600px) {
    .fake-toolbar.shown {
        height: 56px;
    }
}

.overlay-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

// Styles for todo page
.app-todo-list-item {
    // Chrome
    height: fit-content !important; // TODO(Edric): Figure out a way to solve fit-content for Firefox browsers
    // height: -moz-fit-content;
    // Safari for iOS
    // height: -webkit-fit-content;
}

// Sticky toolbar
.sticky-toolbar {
    position: sticky; // For Safari
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

// Empty state
.empty-state-container {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    .empty-state-div {
        text-align: center;
    }
    .empty-state-icon {}
}

// Markdown
blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin: 0;
}

.checkbox-td {
    text-align: center !important;
}

.new-todo-button {
    width: 100%;
    padding: 0 !important;
    text-align: left;
    .new-todo-label {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 4px 12px;
        p {
            margin: 0 0 0 8px;
        }
    }
}

// See https://stackoverflow.com/a/22603610 for more info
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}