/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.app-sidenav {
	width: 200px;
}
.active-link {
	color: #3F51B5 !important;
}
.app-android-download-btn, .app-src-code-btn {
	height: 50px;
	width: 250px;
}
.app-android-download-btn {
	color: #A4C639 !important;
	background-color: rgba(0, 0, 0, 0.6);
}
.app-src-code-btn {
	color: #E4E432 !important;
	background-color: rgba(0, 0, 0, 0.6);
}
[md-button], [md-raised-button] {
	text-transform: uppercase;
}
.app-downloads {
	padding: 40px;
}
.app-form-field {
	width: 100%;
}