/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import './app/todo/todo-dashboard/todo-dashboard.component';
@import './app/tips/tips.component';
@import './app/shared/search-input/search-input.component';

@mixin tables-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $tableBorderOpacity: if($is-dark-theme, 0.08, 0.03);
  table.app-table {
    color: mat.get-color-from-palette($foreground, text);
    th {
      background: mat.get-color-from-palette($background, app-bar);
    }
    td {
      border: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), $tableBorderOpacity);
    }
  }
}

@mixin studybuddy-theme($theme) {
  @include tables-theme($theme);
  @include tips-theme($theme);
  @include todo-dashboard-theme($theme);
  @include search-input-theme($theme);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  mat-card.hover {
    @include mat.elevation-transition;
    &:hover {
      @include mat.elevation(8);
    }
  }
  .strike>span {
    &::before,
    &::after {
      background-color: map-get($foreground, divider);
    }
    color: map-get($foreground, text);
  }
  .active-link {
    // Since it's a bit hard to actually see the text in the dark theme, it'll use the accent color if it's dark and primary if it's not. Same applies for mat-icon
    .mdc-list-item__content {
      color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary)) !important;
    }
    mat-icon {
      color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary)) !important;
    } // Note: These colors are based on the Android sidenav selection state
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  }
  .currently-selected {
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  }

  .feature-status-badge {
    // @error $background;
    &.feature-status-badge--default {
      // background-color: ;
    }
    &.feature-status-badge--with-color {
      background-color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary));
      color: if($is-dark-theme, map-get($accent, 'default-contrast'), map-get($primary, 'default-contrast'));
    }

    $palettes-list: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    );

    @each $key, $val in $palettes-list {
      &.feature-status-badge--#{$key} {
        background-color: mat.get-color-from-palette($val);
        color: map-get($val, 'default-contrast');
      }
    }
  }

  .mat-primary-text-color {
    color: mat.get-color-from-palette($primary) !important;
  }
  .mat-primary-bg-color {
    background-color: mat.get-color-from-palette($primary) !important;
  }
  .mat-accent-text-color {
    color: mat.get-color-from-palette($accent) !important;
  }
  .mat-accent-bg-color {
    background-color: mat.get-color-from-palette($accent) !important;
  }
  .mat-warn-text-color {
    color: mat.get-color-from-palette($warn) !important;
  }
  .mat-warn-bg-color {
    background-color: mat.get-color-from-palette($warn) !important;
  }
  a.anchor-link, .app-markdown a {
    color: mat.get-color-from-palette($primary, if($is-dark-theme, 200, default));
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .mat-icon-foreground {
    color: map-get($foreground, icons);
  }
  /*
  Code adapted from:
  https://github.com/Teradata/covalent/blob/ce05fb682260262b4c4b7ff86f0e896ab3ed0192/src/platform/core/message/_message-theme.scss#L26-L40
  https://github.com/Teradata/covalent/blob/develop/src/platform/core/message/message.component.scss
  */
  .msg-container {
    padding: 8px 16px;
    min-height: 52px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-start;
    *:not(.mat-icon) {
      margin: 0;
    }
    .msg-icon {
      margin-right: 16px;
      ::ng-deep [dir='rtl'] & {
        margin-left: 16px;
        margin-right: 0;
      }
    }
    .msg-label {
      font-weight: 500;
    }
    &.mat-primary {
      color: mat.get-color-from-palette($primary);
      background-color: mat.get-color-from-palette($primary, 0.15);
    }
    &.mat-accent {
      color: mat.get-color-from-palette($accent);
      background-color: mat.get-color-from-palette($accent, 0.15);
    }
    &.mat-warn {
      color: mat.get-color-from-palette($warn);
      background-color: mat.get-color-from-palette($warn, 0.15);
    }
    &.msg-danger {
      color: #ef6c00;
      background-color: rgba(239, 108, 0, 0.15);
    }
    &.msg-info {
      color: #0288d1;
      background-color: rgba(2, 136, 209, 0.15);
    }
  }
  .notifications-badge,
  .badge {
    color: white;
    background: mat.get-color-from-palette($primary);
  }
}

$studybuddy-typography: mat.define-typography-config(
  $font-family: '"Baloo 2", Roboto, "Helvetica Neue", Arial, sans-serif'
);
// @import 'assets/icons/material-icons.css';
@include mat.all-component-typographies($studybuddy-typography);
@include mat.typography-hierarchy($studybuddy-typography);
@include mat.core();
$studybuddy-light-theme-primary: mat.define-palette(mat.$indigo-palette);
$studybuddy-light-theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$studybuddy-light-theme-theme: mat.define-light-theme($studybuddy-light-theme-primary, $studybuddy-light-theme-accent);
@include studybuddy-theme($studybuddy-light-theme-theme);
@include mat.all-component-themes($studybuddy-light-theme-theme);
.studybuddy-dark {
  $studybuddy-dark-theme-primary: mat.define-palette(mat.$purple-palette);
  $studybuddy-dark-theme-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
  $studybuddy-dark-theme-theme: mat.define-dark-theme($studybuddy-dark-theme-primary, $studybuddy-dark-theme-accent);
  @include studybuddy-theme($studybuddy-dark-theme-theme);
  @include mat.all-component-themes($studybuddy-dark-theme-theme);
}

// app-root {
//   top: 64px;
//   @media (max-width: 599px) {
//     top: 56px;
//   }
// }
body {
  margin: 0;
}

// Styles for table
table.app-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px 0;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  th {
    font-weight: 400;
    max-width: 100px;
    padding: 13px 32px;
    text-align: left
  }
  td {
    font-weight: 400;
    padding: 8px 16px
  }
}

.notifications-badge,
.badge {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.2 ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.feature-status-badge {
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 16px;
}

.no-padding mat-dialog-container {
  padding: 0;
}

.padding-container {
  padding: 8px;
}

.padding-percentage-container {
  padding: 5%;
}

// Material icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.app-sidenav {
  min-width: 256px;
  max-width: 100%;
}

.app-notify-sidenav {
  width: 412px;
  max-width: 100%;
}

.app-android-download-btn,
.app-src-code-btn {
  height: 50px;
  width: 250px;
}

.app-android-download-btn {
  color: #A4C639 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.app-src-code-btn {
  color: #E4E432 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.app-downloads {
  padding: 40px;
}

.app-form-field {
  width: 100%;
}

.app-content {
  padding: 4px;
}

// Excerpt from snackbar demo on material2's demoapp
.party {
  animation: party 5000ms infinite;
}

@keyframes party {
  0% {
    background-color: #00f;
  }
  10% {
    background-color: #8e44ad;
  }
  20% {
    background-color: #1abc9c;
  }
  30% {
    background-color: #d35400;
  }
  40% {
    background-color: #00f;
  }
  50% {
    background-color: #34495e;
  }
  60% {
    background-color: #00f;
  }
  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }
  90% {
    background-color: #2980b9;
  }
  100% {
    background-color: #0ff;
  }
}

.red {
  background-color: red;
}

.selection-dialog mat-dialog-content {
  padding: 0;
}

.tab-content {
  padding: 16px;
}

// This is to align with the Material spec
mat-card {
  margin: 8px;
}

.new-todo-fab {
  position: fixed !important;
  right: 32px;
  bottom: 32px;
  margin-bottom: 0 !important;
}

// Fake toolbar
.fake-toolbar.shown {
  height: 64px;
}

@media (max-width: 600px) {
  .fake-toolbar.shown {
    height: 56px;
  }
}

.overlay-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

// Styles for todo page
.app-todo-list-item {
  // Chrome
  height: fit-content !important; // TODO(Edric): Figure out a way to solve fit-content for Firefox browsers
  // height: -moz-fit-content;
  // Safari for iOS
  // height: -webkit-fit-content;
  min-height: 40px;
}

// Sticky toolbar
.sticky-toolbar {
  position: sticky; // For Safari
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}
// Empty state
.empty-state-container, .center-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: -1;
  text-align: center;
  .empty-state-container-inner, .center-container-inner {
    // text-align: center;
    img {
      max-width: 100%;
      width: 300px;
    }
  }
}

// Markdown
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin: 0;
}

.checkbox-td {
  text-align: center !important;
}

.new-todo-button {
  width: 100%;
  padding: 0 !important;
  text-align: left;
  .new-todo-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    p {
      margin: 0 0 0 8px;
    }
  }
}

// See https://stackoverflow.com/a/22603610 for more info
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike>span {
  position: relative;
  display: inline-block;
}

.strike>span:before,
.strike>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
}

.strike>span:before {
  right: 100%;
  margin-right: 15px;
}

.strike>span:after {
  left: 100%;
  margin-left: 15px;
}

.mat-mdc-menu-item[disabled] mat-icon {
  color: inherit !important;
}

.header {
  margin: 20px 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

cdk-virtual-scroll-viewport {
  height: 100vh;
}

.text-center {
  text-align: center;
}

// CSS hack to position the leading icon in a button
// TODO: Add supprt for trailing icons
button[mat-button] mat-icon,
button[mat-stroked-button] mat-icon,
button[mat-raised-button] mat-icon,
a[mat-button] mat-icon,
a[mat-stroked-button] mat-icon,
a[mat-raised-button] mat-icon {
  margin-left: -9px;
  margin-right: 4px;
}

.mat-icon.mat-icon-inline {
  vertical-align: top;
}
