<button md-raised-button color="primary" (click)="newTodo()">New Todo</button>
<!-- <button md-raised-button (click)="getTodos()">Get todos</button> -->
<md-list>
	<md-list-item *ngFor="let todo of todos | async" (click)="null">
		<h3 mdLine>{{todo.title}}</h3>
		<p mdLine>{{todo.content}}</p>
		<span mdLine><md-icon *ngIf="todo.dueDate" color="primary">assignment</md-icon><span *ngIf="todo.dueDate">Due date: {{todo.dueDate | date}}</span></span>
		<span fxFlex></span>
		<button md-icon-button mdTooltip="Remove todo" (click)="removeTodo(todo.$key)"><md-icon>delete</md-icon></button>
		<md-divider></md-divider>
	</md-list-item>
</md-list>