.settings-list-detail__content {
  display: flex;
  flex-direction: row;
}
.settings-list-detail__list-panel {
  flex-basis: 40%;
}

@media screen and (max-width: 959px) {
  .settings-list-detail__content {
    flex-direction: column;
  }

  .settings-list-detail__list-panel {
    flex: 1;
  }
}

.settings-list-detail__detail-panel {
  flex: 1;
  margin-left: 1rem;
}
