<div class="padding-percentage-container">
  <mat-card *ngIf="isSignedIn">
    <mat-card-header>
      <img mat-card-avatar [src]="user.photoURL">
      <mat-card-title>{{user.displayName}}</mat-card-title>
      <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <h3 matSubheader>Account Actions</h3>
        <!-- <mat-list-item (click)="exportData()">
          <mat-icon matListIcon>file_download</mat-icon>
          <h3 matLine>Export data</h3>
        </mat-list-item> -->
        <mat-list-item (click)="deleteData()">
          <mat-icon matListIcon>delete</mat-icon>
          <h3 matLine>Delete data</h3>
        </mat-list-item>
        <mat-list-item (click)="deleteUser()">
          <mat-icon matListIcon svgIcon="mdi:account-remove"></mat-icon>
          <h3 matLine>Unregister</h3>
        </mat-list-item>
        <mat-list-item (click)="signOut()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <h3 matLine>Log out</h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
