<h2 matDialogTitle *ngIf="dialogTitle">{{ dialogTitle }}</h2>
<mat-dialog-content fxLayout="column">
  <mat-radio-group [(ngModel)]="currentValue" [color]="radioGroupColor" fxLayout="column" class="list-setting-dialog--radio-group">
    <mat-radio-button *ngFor="let entry of entries"
      [value]="entry.value"
      [disabled]="entry.disabled"
      [color]="entry.color || null" class="list-setting-dialog--radio-button">
      {{ entry.title }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose [color]="negativeBtnColor">{{ negativeBtnText }}</button>
  <button mat-button [matDialogClose]="currentValue" [color]="positiveBtnColor">{{ positiveBtnText }}</button>
</mat-dialog-actions>
