<mat-toolbar *ngIf="!toolbarService.showToolbar" class="mat-elevation-z3 overlay-toolbar">
	<button mat-icon-button (click)="clearSelectedTodos()" matTooltip="Clear selection">
		<mat-icon>close</mat-icon>
	</button>
	{{selectedTodos.length}} selected
	<span fxFlex></span>
	<button mat-icon-button (click)="markSelectedTodosAsDone()" matTooltip="Mark selected as done">
		<mat-icon>done_all</mat-icon>
	</button>
	<button mat-icon-button (click)="deleteSelectedTodos()" matTooltip="Delete selected">
		<mat-icon>delete</mat-icon>
	</button>
</mat-toolbar>
<div class="mat-elevation-z2" style="min-height: 400px">
	<div class="empty-state-container" *ngIf="todos$ == null">
		<h2>All todos have been done!</h2>
		<p>Go reward yourself with exercising, reading or your favourite hobby.</p>
		<button mat-raised-button (click)="newTodo()" color="primary">Create a new todo</button>
	</div>
	<button mat-button (click)="deleteAllTodos()" color="warn">Delete all</button>
	<mat-nav-list *ngIf="!todoTable && todos$">
		<mat-list-item *ngFor="let todo of todos$ | async" (click)="handleListClick(todo, $event)" [ngClass]="{'currently-selected': hasListItemSelected(todo)}" class="app-todo-list-item">
			<mat-icon matListIcon *ngIf="!toolbarService.showToolbar">
				<svg width="24px" height="24px" viewBox="0 0 24 24" *ngIf="hasListItemSelected(todo)" fill="#673ab7">
					<path d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
					/>
				</svg>
				<svg width="24px" height="24px" viewBox="0 0 24 24" *ngIf="!hasListItemSelected(todo)">
					<path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
					/>
				</svg>
			</mat-icon>
			<mat-icon matListIcon [color]="todo?.hasDone ? 'accent': ''" *ngIf="toolbarService.showToolbar">{{todo?.hasDone ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
			<h3 matLine>{{todo?.title}}</h3>
			<span matLine [innerHTML]="todo?.content | markdown"></span>
			<span matLine *ngIf="todo?.dueDate" style="vertical-align: middle; align-items: center; align-content: center; display: flex;">
				<mat-icon color="primary" style="padding-right: 4px;">
					<svg width="24px" height="24px" viewBox="0 0 24 24">
						<path d="M15,13H16.5V15.82L18.94,17.23L18.19,18.53L15,16.69V13M19,8H5V19H9.67C9.24,18.09 9,17.07 9,16A7,7 0 0,1 16,9C17.07,9 18.09,9.24 19,9.67V8M5,21C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H6V1H8V3H16V1H18V3H19A2,2 0 0,1 21,5V11.1C22.24,12.36 23,14.09 23,16A7,7 0 0,1 16,23C14.09,23 12.36,22.24 11.1,21H5M16,11.15A4.85,4.85 0 0,0 11.15,16C11.15,18.68 13.32,20.85 16,20.85A4.85,4.85 0 0,0 20.85,16C20.85,13.32 18.68,11.15 16,11.15Z"
						/>
					</svg>
				</mat-icon>
				<span>Due date: {{todo?.dueDate | date}}</span>
			</span>
			<span matLine *ngIf="todo?.project" style="vertical-align: middle; align-items: center; align-content: center; display: flex;">
				<mat-icon color="primary" style="padding-right: 4px;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
						<path d="M19,3A2,2 0 0,1 21,5V19C21,20.11 20.1,21 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M16.7,9.35C16.92,9.14 16.92,8.79 16.7,8.58L15.42,7.3C15.21,7.08 14.86,7.08 14.65,7.3L13.65,8.3L15.7,10.35L16.7,9.35M7,14.94V17H9.06L15.12,10.94L13.06,8.88L7,14.94Z"
						/>
					</svg>
				</mat-icon>
				<span>Project: {{todo?.project}}</span>
			</span>
			<span fxFlex></span>
			<button mat-icon-button matTooltip="Edit todo" (click)="editTodo(todo)" *ngIf="toolbarService.showToolbar">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button matTooltip="Remove todo" (click)="removeTodo(todo?.id, false, $event)" *ngIf="toolbarService.showToolbar">
				<mat-icon>delete</mat-icon>
			</button>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-nav-list>
	<mat-table #table [dataSource]="dataSource" *ngIf="todoTable">
		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="content">
			<mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.content}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="dueDate">
			<mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.dueDate}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="tags">
			<mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.tags}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="importance">
			<mat-header-cell *matHeaderCellDef> Importance </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.importance}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="type">
			<mat-header-cell *matHeaderCellDef> School subject type </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
		</ng-container>

		<!-- Delete Buttons Column -->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button (click)="goToDetailPage(row.$key)">Edit</button>
			</mat-cell>
		</ng-container>

		<!-- Database key Column -->

		<ng-container matColumnDef="key">
			<mat-header-cell *matHeaderCellDef class="hiddenField"> Key </mat-header-cell>
			<mat-cell *matCellDef="let row" class="hiddenField"> {{row.$key}} </mat-cell>
		</ng-container>


		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


	</mat-table>
	<mat-paginator #paginator [length]="dataLength?.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
	 *ngIf="todoTable">
	</mat-paginator>
</div>
<button mat-fab (click)="newTodo()" matTooltip="New todo" matTooltipPosition="left" class="new-todo-fab" *ngIf="toolbarService.showToolbar">
	<mat-icon>add</mat-icon>
</button>